{% extends "base/base.html" %}
{% block content %}
<div class="content" style="overflow-x: hidden;">
				<!-- banner -->
				<div class="banner about-banner"> 
					<div class="banner-img">  
						<h3>Contactanos</h3>   
					</div> 
				</div>
				<!-- //banner -->
				<!-- contact -->
				<div class="w3agile contact"> 
					<h3 class="w3ls-title">Contactanos</h3>
					<div class="contact-form"> 
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Nombre" required="">
							<input type="text" name="Email" placeholder="Email" required="">
							<input type="text" name="Subject" placeholder="Asunto" required="">
							<textarea name="Message" placeholder="Mensaje" required=""></textarea>
							<input type="submit" value="ENVIAR">
						</form> 
					</div>
					<div class="map"> 
						<h3 class="w3ls-title">Mapa de ruta</h3>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7208.746160302714!2d-57.141525639891185!3d-25.392319431399923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x471553e3c108d728!2sMercado+municipal+de+Caacupe!5e0!3m2!1ses-419!2spy!4v1503600057499" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					<div class="contact-form"> 
						<h3 class="w3ls-title">Informaciones de contacto</h3>
						<p><b>Direccion :</b> Caacupé, Tte. Godoy, Gral. Roa. </p>
						<p><b>Telefono :</b> (0511)244860 o al 132</p>
						<p><b>Fax :</b> (0511)244860</p>
						<p><b>Email :</b> <a href="info@bomberos-caacupe.com">info@bomberos-caacupe.com</a></p>
					</div>
				</div>
				<!-- //contact --> 
				
			</div>
    
{% endblock content %}