{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<style>
   .banner{ 
   background-color: white;
} 
</style>
{% if messages %}
<div class="alert alert-success">
	<button class="close" data-dismiss="alert">
		<span>&times;</span>
	</button>
    {% for m in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
    {% endfor %}
</div>
{% endif %}
<br>
<h1 style="text-align: center">Realiza tu Denuncia</h1>
<div class="w3agile properties">
	<div class="form-group row">
		<form method="post">
			{% csrf_token %}
			<style>
				label[for=id_lat]
					{
					   display : none;
					}
				label[for=id_lng]
					{
					   display : none;
					}

				#id_lat { display : none; }
				#id_lng { display : none; }
			</style>
			{{ form.as_p }}
			<div id="mapa"></div><br>
				<button type="submit" class="btn btn-primary">Registrar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}



