{% extends "base/base.html" %}
{% block content %}
<div class="content" style="overflow-x: hidden;">
				<!-- banner -->
				<div class="banner about-banner"> 
					<div class="banner-img">  
						<h3>Nosotros</h3>   
					</div> 
				</div>
				<!-- //banner -->
				<div class="about"> 
					<h3 class="w3ls-title">Nosotros</h3> 
					<p class="w3-text">El Cuerpo de Bomberos Voluntarios del Paraguay, tiene como objetivo primordial proteger la vida, el medio ambiente y las propiedades de los habitantes del país. Para lo cual responde a través del servicio voluntario de ciudadanos preparados, reunidos en Compañías y Cuerpos Departamentales para acudir a emergencias derivadas de accidentes tales como incendios, explosiones, fugas de gas, temporales, accidentes de tránsito.</p>
				</div>
				<!-- services -->
				<div class="services"> 
					<div class="title">
						<h3 class="w3ls-title">Objetivos</h3> 
					</div>
					<div class="services-w3ls-row">
						<div class="services-grid">
							<span class="glyphicon glyphicon-home effect-1" aria-hidden="true"></span>
							<h5>Proteger</h5>
							<p>las propiedades de los habitantes del país</p>
						</div>
						<div class="services-grid">
							<span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
							<h5>Concienciar</h5>
							<p>Desarrollar campañas de conciencion</p>
						</div>
						<div class=" services-grid">
							<span class="glyphicon glyphicon-tree-deciduous effect-1" aria-hidden="true"></span>
							<h5>Resguardar</h5>
							<p>Nuestros bosques</p>
						</div>
						<div class="services-grid">
							<span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
							<h5>Proteger</h5>
							<p>el medio ambiente</p>
						</div>  
						<div class="clearfix"> </div>
					</div>   
				</div>
				<!-- //services -->
				<div class="about"> 
					<h3 class="w3ls-title">Para que nos podes Llamar?</h3> 
					<ul>
						<li><span class="glyphicon glyphicon-menu-right"></span> Para ser bombero </li>
						<li><span class="glyphicon glyphicon-menu-right"></span> Para reportar incendios </li>
						<li><span class="glyphicon glyphicon-menu-right"></span> Para reportar accidentes </li>
						<li><span class="glyphicon glyphicon-menu-right"></span> Para asistencia de primeros auxilios </li>
						<li><span class="glyphicon glyphicon-menu-right"></span> Para rescate de animales </li>
						<li><span class="glyphicon glyphicon-menu-right"></span> Para fugas de gas, etc. </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
				
{% endblock content %}